In [6]:
def get_unique_words(sentence):
    words = sentence.lower().split()
    unique_words = list(dict.fromkeys(words))
    return unique_words
sentence = input("Enter Your Sentence: ")
result = get_unique_words(sentence)

print("Unique Words:", result)
print("Count:", len(result))

Enter Your Sentence: Python is easy and powerful
Unique Words: ['python', 'is', 'easy', 'and', 'powerful']
Count: 5

In [7]:
sentence = input("Enter sentence: ")
sentence = sentence.lower()
words = sentence.split()
unique_words = set(words)
print("Unique Words:", unique_words)
print("Count :", len(unique_words))

Enter sentence: python is easy and powerful
Unique Words: {'easy', 'powerful', 'is', 'python', 'and'}
Count of Unique Words: 5

In [8]:
#Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Highest employee getting salary
highest_employee = max(employees, key=employees.get)

# Get highest salary
highest_salary = employees[highest_employee]

print("Employee with Highest Salary:", highest_employee)
print("Highest Salary:", highest_salary)

Employee with Highest Salary: Ravi
Highest Salary: 75000

In [10]:
#Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [16]:
numbers = [45, 22, 89, 10, 66]
#intialization
maximum = numbers[0]
minimum = numbers[0]
#loop
for number in numbers:
    if number > maximum:
        maximum = number
    elif number < minimum:
        minimum = number
#output
print("List:",numbers)
print("Maximum:", maximum)
print("Minimum:", minimum)

List: [45, 22, 89, 10, 66]
Maximum: 89
Minimum: 10

In [18]:
#given list of price
prices = [450, 1200, 899, 1500, 300]
count=0
#loops to compare each price
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000: ",count)

Products above 1000:  2

In [19]:
#given list of attendance
attendance = ["P", "P", "A", "P", "P"]
present=0
for status in attendance:
    if status == "P":
        present += 1
#total days
total_days = len(attendance)
attendance_percentage = (present / total_days) * 100
#output
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [21]:
phone_numbers = [9876543210, 9123456789, 9876543210]
# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)
print("Unique phone number: ",unique_numbers)

Unique phone number:  {9876543210, 9123456789}

In [23]:
#assume text as pythonp based on the expected outcome
text = "pythonp"
#character frequency
char_count = {}
#loop
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
#outupt stored in char_count
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [24]:
#based on the expected output assume the list as 10,20,30
list=[10,20,30]
#converting list into tuple
tuple=tuple(list)
print(tuple)

(10, 20, 30)

In [25]:
#consider the old dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#key to search
key="Kiran"
if key in employees:
     print("employee exists")

employee exists

In [26]:
#consider marks as
marks=[65,70,75,80]
Sum=sum(marks)
count=len(marks)
#average
average=Sum/count
print("Average:",average)

Average: 72.5